body {
  font-family: tahoma, verdana, sans-serif;
  font-style: normal;
  color: rgb(95, 86, 86);
  font-size: 16px;
  text-align: left;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  font-size: 1em;
}

.html-colors {
  background-color: #fad7bd;
}

.css-colors {
  background-color: rgb(205, 205, 243);
}
.javascript-colors {
  background-color: rgb(236, 236, 123);
}
