body {
  font-family: tahoma, verdana, sans-serif;
  font-style: normal;
  color: rgb(95, 86, 86);
  font-size: 16px;
  text-align: left;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

p {
  font-size: 1em;
}
/* Links styling ---------------------------------------------------------- */
/* Unvisited link */
a:link{
  color: red;
  text-decoration: none;
}

/* Visited link */
a:visited{
  color: green;
}

/* Mouse over link */
a:hover{
  color: purple;
  text-decoration: underline;
}

/* Selected link */
a:active{
  color: blue;
}

/* Colors ----------------------------------------------------------------*/
.html-colors {
  background-color: #fad7bd;
}

.css-colors {
  background-color: rgb(205, 205, 243);
}
.javascript-colors {
  background-color: rgb(236, 236, 123);
}

.list-color-bg{
  background-color: white;
}

/* Reusable classes ------------------------------------------------------*/
.padding-large {
  padding: 3em;
}
.margin-large-t-b {
  margin-top: 3em;
  margin-bottom: 3em;
}
.margin-small-t-b {
  margin-top: 1em;
  margin-bottom: 1em;
}
.list-reset{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.btn{
  padding: 5px 10px;
  text-align: center;
  border: 1px solid;
}

/* Navbar css -------------------------------------------------------------*/
nav ul li{
  display: inline-block;
}
.btn-nav {
  background-color: rgb(198, 198, 240);
}
.btn-nav:hover {
  background-color: white;
  text-decoration: none;
}
.active{
  background-color: white;
}

